# DuckDB database files
*.duckdb
*.duckdb.wal

# dbt artifacts
dbt_modules/
dbt_packages/
target/
logs/
profiles.yml
.user.yml

# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store